#submitBtn {
    background-color: var(--french-blue)
}

#submitBtn:hover {
    background-color: var(--red-crayola);
}

input,
select {
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 19%;
  margin-bottom: 10px;
  box-sizing: border-box;
}