.Contacts__page {
    width: 100%;
    min-height: fit-content;
    box-sizing: border-box;
    padding: 1rem;
}

.Contact__form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
