* {
    background-color: var(--columbia-blue);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    width: 100vw;
    padding: 1rem;
    margin-bottom: 0;
}

nav a {
    margin: 1rem;
    text-decoration: none;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: var(--red-crayola)
}

.navLink.active {
    color: var(--red-crayola);
}

main {
    width: 100vw;
}

