* {
    background-color: var(--columbia-blue);
}

.App {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    height: fit-content;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    width: fit-content;
    flex-wrap: wrap;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: var(--red-crayola)
}

.navLink.active {
    color: var(--red-crayola);
}

main {
    box-sizing: border-box;
    width: 100vw;
}

form {
    width: 100%;
  }

input,
select {
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
